doctype html
html
  head
      title Lets talk about ... TypeScript by Tamino
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article
          h1 Hello World

      script(src='scripts.js')
